<ion-view title="Hire Workers" hide-back-button="true" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
	<ion-nav-buttons side="right">
       	<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
        </button>
        <!--<filter-box placeholder="Enter Zipcode" filtertext="search"></filter-box>  -->
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
    <ion-content class="has-tabs-top" has-header="true">
       <!-- <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search" ng-keyup="getSearchRes(search)">
            </label>
        </div>-->
       <h3>Few More things</h3>
       <p>
       	
       <b>Heavy</b> - If Moving things around over 50 pounds or up-stairs <br />
       <b>Skilled</b> - If Specialized (like gardening / painting) <br />
       <b>General</b> - Sweeping / Packing etc <br />


       </p>



       <form ng-submit="processRequest()">



 <div class="list">

 		<label class="item item-input item-select">
		    <div class="input-label">
		      Breifly Describe work ? <br />
		      <input type="text" placeholder="Description" ng-model="requestData.description" />
		    </div>
		   
		  </label>


       	<label class="item item-input item-select">
		    <div class="input-label">
		      How should we reach you ?
		    </div>
		    <select ng-model="requestData.howtoreach">
		      <option selected>Call</option>
		      <option>SMS / Message</option>
		      <option>Email</option>
		      
		    </select>
		  </label>

</div>
       </form>
       <br />
       <div align="center">
          <button class="button button-large button-balanced"  ng-click="processRequest()">Submit Request</button>
         </div>

    </ion-content>
</ion-view>

