/* Empty. Add your own CSS if you like */

/* Empty. Add your own CSS if you like */

.bar-subheader-slide-away {
    .bar-subheader {
        top: 0;
    }
    .has-subheader {
        top: 44px;
    }
}

.button-positive{
	border-color:#EF4E3A !important;
	background-color:#EF4E3A !important;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
